<mat-toolbar>
    <button mat-button routerLink="/line-chart">Line Chart</button>
    <button mat-button routerLink="/bar-chart">Bar Chart</button>
    <button mat-button routerLink="/pie-chart">Pie Chart</button>
    <button mat-button routerLink="/doughnut-chart">Doughnut Chart</button>
    <button mat-button routerLink="/scatter-plot">Scatter Plot</button>
    <button mat-button routerLink="/radar-chart">Radar Chart</button>
    <button mat-button (click)="logout()">Logout</button>
  </mat-toolbar>
  <router-outlet></router-outlet>
  